body.o_solvitask_theme {
    --o-color-1: #1976d2;

    .o_main_navbar { background-color: #1976d2; }
    .btn-primary { background-color: #1976d2; border-color: #1976d2; }
}
body.o_solvitask_theme {
    .o_main_navbar {
        .o_menu_sections,
        .o_menu_sections .o_nav_entry,
        .o_menu_sections .dropdown-toggle {
            background-color: #1976d2 !important;
            color: #fff;
        }

        .o_menu_sections .o_nav_entry:hover,
        .o_menu_sections .dropdown-toggle:hover {
            background-color: darken(#1976d2, 8%) !important;
        }
    }
}
body.o_solvitask_theme .dropdown-menu .dropdown-item.focus,
body.o_solvitask_theme .dropdown-menu .dropdown-item:active {
    background-color: #1976d2;
}
